<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091814994087-kaon8qu9r421e1hak19bif0tnc6mmmst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091814994087-kaon8qu9r421e1hak19bif0tnc6mmmst</string>
	<key>API_KEY</key>
	<string>AIzaSyA50SrAZFbbFMkLHGpew37_zvFdIyOUZU8</string>
	<key>GCM_SENDER_ID</key>
	<string>1091814994087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>odanevych.Diploma-v1</string>
	<key>PROJECT_ID</key>
	<string>diplma-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>diplma-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091814994087:ios:062ce9ed90030d0380eb82</string>
	<key>DATABASE_URL</key>
	<string>https://diplma-v1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>